.catalog {
  padding-top: 30px;
}

.catalog__list {
  @include ul-reset;
}

.catalog__item {
  margin-bottom: 30px;

  &:hover .catalog__wrapper {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active .catalog__wrapper {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog__image-link {
  cursor: pointer;
}

.catalog__wrapper {
  padding: 29px;
  border: 1px solid $border-color;
}

.catalog__description {
  border-bottom: 1px solid $border-color;
}

.catalog__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: 700;
  color: $title-color;

  &:hover {
    color: #8d8d8d;
  }

  &:active {
    color: #cacaca;
  }
}

.catalog__details {
  margin: 0;
  margin-bottom: 17px;
  line-height: 30px;
}

.catalog__add {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 21px;
}

.catalog__price {
  font-size: 15px;
  font-weight: 700;
  color: $title-color;
}

.catalog__basket {
  width: 20.294px;
  height: 18.849px;
  position: absolute;
  right: -2px;
  top: 22px;
}

.catalog__basket-img {
  fill: #231f20;
  opacity: 0.2;
}

.catalog__basket[href] {
  &:hover .catalog__basket-img {
    fill: $theme-color;
    opacity: 1;
  }

  &:active .catalog__basket-img {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 67px;
  }

  .catalog__list {
    width: 100%;
  }

  .catalog__item {
    display: flex;
    margin-bottom: 54px;
  }

  .catalog__image-link {
    width: 50%;
    background: black;
  }

  .catalog__wrapper {
    width: 50%;
  }

  .catalog__title {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__details {
    font-size: 15px;
  }

  .catalog__price {
    font-size: 17px;
  }

  .catalog__description {
    min-height: 230px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 57px;
    padding-top: 111px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__image-link {
    width: 100%;
    height: 462px;
  }

  .catalog__item {
    width: 316px;
    flex-direction: column;
    margin: 0;
    margin-right: 51px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .catalog__wrapper {
    width: 316px;
  }

  .catalog__description {
    min-height: 94px;
  }

  .catalog__details {
    margin-bottom: 0;
  }
}
