.container {
  width: 290px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    width: 698px;
    padding: 0 15px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1080px;
  }
}
