.contacts {
  padding-top: 40px;
  padding-bottom: 39px;
}

.contacts__container {
  margin-bottom: 38px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $title-color;
}

.contacts__info {
  font-size: 15px;
  line-height: 30px;
}

.contacts__item {
  display: flex;
}

.contacts__link {
  padding-bottom: 4px;
  color: $text-color;
  border-bottom: 1px solid $theme-color;

  &:hover {
    color: $theme-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__type {
  min-width: 77px;
}

.contacts__data {
  margin: 0;
  min-width: 183px;

  &--address {
    padding-right: 42px;
  }

  &--email {
    padding-bottom: 30px;
  }
}

.contacts__map {
  position: relative;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 37px;

  &::before {
    @include pseudo-element;
    top: 145px;
    left: 139px;
    width: 66px;
    height: 100.801px;
    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;
  }
}

.contacts__map-image {
  min-height: 457px;
}

.contacts__map-js {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 63px;
    padding-bottom: 57px;
  }

  .contacts__container {
    margin-bottom: 56px;
  }

  .contacts__title {
    position: relative;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
    margin-left: -4px;

    &::after {
      @include pseudo-element;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      width: 47px;
      height: 81px;
      right: 0;
      top: -15px;
    }
  }

  .contacts__info {
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__data--address {
    padding-right: 32px;
  }

  .contacts__map {
    width: 100%;
    max-width: 768px;
    margin-bottom: 55px;

    &::before {
      top: 139px;
      left: 363px;
    }
  }

  .contacts__write {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    padding-top: 142px;
    padding-bottom: 106px;
  }

  .contacts__container {
    padding-left: 195px;
    margin-bottom: 76px;
  }

  .contacts__item {
    width: 350px;
  }

  .contacts__title {
    width: 350px;
    font-size: 53px;
    line-height: 57px;
    margin-left: -10px;

    &::after {
      left: -108px;
      top: -10px;
    }
  }

  .contacts__info {
    flex-direction: column;
    width: 350px;
    margin-left: -5px;
  }

  .contacts__data--address {
    padding-right: 0;
  }

  .contacts__map {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 525px;
    margin-bottom: 105px;

    &::before {
      top: 146px;
      left: 239px;
    }
  }

  .contacts__write {
    margin: 0;
    margin-left: 175px;
  }
}
