.logo-link {
  display: block;
  margin: 22px auto;
}

.logo-link__image {
  width: 86px;
  height: 35px;
}

.logo-link[href]:hover .logo-link__image {
  opacity: 0.6;
}

.logo-link[href]:active .logo-link__image {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .logo-link {
    margin: 0;
  }

  .logo-link__image {
    width: 112px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .logo-link {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    margin-top: 9px;
    margin-bottom: 7px;
  }

  .logo-link__image {
    width: 149px;
    height: 72px;
  }
}
