.modal-basket {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 320px;
  min-height: 336px;
  padding-top: 34px;
  padding-right: 30px;
  padding-bottom: 52px;
  padding-left: 30px;
  border-top: 1px solid $border-modal;
  border-bottom: 1px solid $border-modal;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  background-color: #ffffff;
}

.modal-basket--show {
  display: block;
}

.modal-basket__title {
  margin: 0;
  margin-bottom: 7px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $title-color;
  text-transform: uppercase;
  text-align: center;
}

.modal-basket__choice {
  @include fieldset-reset;
  margin-bottom: 31px;
}

.modal-basket__text {
  width: 100%;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.modal-basket__list {
  @include ul-reset;
  display: flex;
  justify-content: center;
}

.modal-basket__item {
  position: relative;
  margin-right: 7px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.modal-basket__option {
  display: none;
}

.modal-basket__label {
  position: relative;
  display: block;
  width: 82px;
  height: 52px;
  padding: 15px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;

  &::before {
    @include pseudo-element;
    top: 0;
    right: 0;
    width: 82px;
    height: 52px;
    border: 2px solid $border-color;
  }
}

.modal-basket__item input[type="checkbox"]:checked + label::before {
  border-color: $theme-color;
}

.modal-basket__label:hover::before {
  border-color: #c7c7c7;
}

.modal-basket__button {
  background-color: $theme-color;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .modal-basket {
    width: 568px;
    padding-top: 36px;
    padding-right: 105px;
    padding-left: 105px;
    border-left: 1px solid $border-modal;
    border-right: 1px solid $border-modal;
  }

  .modal-basket__title {
    font-size: 30px;
    line-height: 57px;
    margin-bottom: 12px;
  }

  .modal-basket__text {
    margin-bottom: 26px;
    font-size: 17px;
  }

  .modal-basket__label {
    width: 112px;

    &::before {
      width: 112px;
    }
  }
}
