.order-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;
}

.order-form__fieldset {
  @include fieldset-reset;
  padding-bottom: 43px;

  &--bio {
    padding-bottom: 30px;
  }

  &--phone {
    padding-bottom: 30px;
  }

  &--email {
    padding-bottom: 34px;
  }

  &--extra {
    padding-bottom: 15px;
  }
}

.order-form__wrapper {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.order-form__title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 34px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: $theme-color;

  &--phone,
  &--email {
    margin-bottom: 0px;
  }

  &--extra {
    margin-bottom: 24px;
  }

  &--bio {
    margin-bottom: 29px;
  }

  &::after {
    content: "";
    margin-left: 19px;
    flex-grow: 1;
    flex-shrink: 0;
    height: 1px;
    width: 55px;
    background-color: $theme-color;
  }
}

.order-form__list {
  @include ul-reset;
}

.order-form__item {
  padding-bottom: 24px;

  &:last-child {
    padding-bottom: 0;
  }

  &--checkbox {
    padding-bottom: 43px;
  }

  &--radio,
  &--checkbox {
    display: flex;
  }

  &--bio {
    padding-bottom: 22px;
  }

  &--phone .order-form__input {
    padding-top: 19px;
    padding-bottom: 16px;
  }
}

.order-form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $title-color;
  cursor: pointer;

  &--radio,
  &--checkbox {
    position: relative;
    padding-left: 62px;
    cursor: pointer;
  }

  &--text {
    position: relative;
    display: block;
    margin-bottom: -4px;
    z-index: 1;
  }

  &--radio::before {
    @include pseudo-element;
    top: -9px;
    left: 1px;
    width: 38px;
    height: 38px;
    border: 2px solid $button-border-color;
    border-radius: 50%;
  }

  &--radio:hover::before {
    border-color: $theme-color;
  }

  &--radio:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }

  &--checkbox::before {
    @include pseudo-element;
    top: -11px;
    left: 0;
    width: 40px;
    height: 39px;
    border: 2px solid $button-border-color;
  }

  &--checkbox:hover::before {
    border-color: $theme-color;
  }

  &--checkbox:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.order-form__input {
  &--radio,
  &--checkbox {
    display: none;
  }

  &--text {
    width: 100%;
    padding-top: 17px;
    padding-bottom: 14px;
    border: 0;
    border-bottom: 2px solid $form-border-color;
    font-size: 17px;
    line-height: 23px;
  }

  &--extra {
    display: block;
    width: 100%;
    min-height: 142px;
    padding: 16px;
    padding-top: 13px;
    border: 2px solid $form-border-color;
    font-size: 17px;
    line-height: 20px;
    resize: none;
  }

  &--text::placeholder,
  &--extra::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &--radio:checked + label::after {
    @include pseudo-element;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 2px;
    left: 13px;
    background-color: $theme-color;
  }

  &--checkbox:checked + label::after {
    @include pseudo-element;
    left: 9px;
    top: -2px;
    width: 32.666px;
    height: 22.742px;
    background-image: url("../img/icon-tick.svg");
    background-size: 22px 22px;
    background-repeat: no-repeat;
  }

  &--text:hover {
    border-color: $theme-color;
  }

  &--text:focus {
    border-color: $theme-color;
    outline: none;
  }

  &--extra:hover {
    border-color: $theme-color;
  }

  &:focus {
    border-color: $theme-color;
    outline: none;
  }
}

.order-form__item--email,
.order-form__item--phone {
  position: relative;
}

.order-form__icon {
  @include pseudo-element;
  top: 17px;
  right: 6px;
  fill: #cccccc;
}

.order-form__input--text:hover + .order-form__icon,
.order-form__input--text:focus + .order-form__icon {
  fill: $theme-color;
}

.order-form__comment {
  margin: 0;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
}

.order-form__button {
  font-size: 17px;
  line-height: 17px;
}

@media (min-width: $tablet-width) {
  .order-form {
    padding-bottom: 52px;
  }

  .order-form__fieldset {
    padding-bottom: 69px;
    padding-top: 65px;

    &--extra {
      padding-bottom: 53px;
    }

    &--phone,
    &--email,
    &--color {
      background-color: $bg-color;
    }

    &--phone {
      padding-bottom: 12px;
      padding-top: 45px;
    }

    &--email {
      padding-bottom: 50px;
      padding-top: 7px;
    }

    &--bio {
      padding-bottom: 52px;
    }

    &--bio .order-form__list {
      margin-top: -20px;
    }

    &--phone .order-form__wrapper,
    &--email .order-form__wrapper {
      align-items: center;
    }
  }

  .order-form__wrapper {
    display: flex;
    align-items: start;
    width: 698px;
    padding: 0 15px;

    &--bottom {
      align-items: center;
    }
  }

  .order-form__title {
    margin: 0;
    width: 167px;

    &::after {
      display: none;
    }
  }

  .order-form__list {
    width: 501px;

    &--color {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .order-form__item {
    width: 501px;
    padding-bottom: 40px;

    &--radio {
      padding-bottom: 56px;
    }

    &--checkbox {
      padding-bottom: 58px;
    }

    &--checkbox:nth-child(2n) {
      width: 230px;
    }

    &--checkbox:nth-child(2n+1) {
      width: 262px;
    }

    &--checkbox:nth-child(5) {
      padding-bottom: 0;
    }

    &--bio {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
    }

    &--phone {
      margin-top: -3px;
    }
  }

  .order-form__label {
    font-size: 19px;

    &--radio,
    &--checkbox {
      padding-left: 80px;
    }

    &--text {
      margin-right: 25px;
    }

    &--radio::before {
      width: 51px;
      height: 51px;
      top: -15px;
    }

    &--checkbox::before {
      width: 54px;
      height: 52px;
      top: -15px;
    }
  }

  .order-form__button {
    width: 230px;
    order: -1;
    margin-right: auto;
  }

  .order-form__icon {
    right: 22px;
  }

  .order-form__comment {
    margin: 0;
    margin-top: -2px;
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__input {
    font-size: 19px;

    &--text {
      padding-left: 17px;
      background-color: transparent;
    }

    &--extra {
      margin-top: -15px;
    }

    &--text::placeholder,
    &--extra::placeholder {
      font-size: 19px;
    }

    &--radio:checked + label::after {
      width: 20px;
      height: 20px;
      top: 1px;
      left: 17px;
    }

    &--checkbox:checked + label::after {
      background-size: 33px 22px;
      left: 12px;
      top: 1px;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form__wrapper {
    width: 1080px;
    padding: 0 15px;

    &--bottom {
      padding-right: 186px;
      padding-left: 190px;
    }
  }

  .order-form__fieldset {
    &--bio .order-form__list {
      margin-left: 4px;
    }

    &--extra {
      padding-bottom: 49px;
    }
  }

  .order-form__title {
    width: 175px;
    padding-left: 64px;
  }

  .order-form__list {
    width: 875px;
  }

  .order-form__icon {
    right: 4px;
  }

  .order-form__item {
    width: 700px;

    &--checkbox {
      width: 262px;
    }

    &--checkbox:nth-child(2n) {
      width: 262px;
    }

    &--checkbox:nth-child(3n) {
      margin-left: 4px;
    }

    &--checkbox:nth-child(4) {
      padding-bottom: 0;
    }
  }
}
