.page-order__info {
  margin: 0;
  margin-top: 22px;
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .page-order__info {
    margin-top: 72px;
    margin-bottom: 9px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-order__info {
    width: 700px;
    margin-top: 120px;
    margin-right: auto;
    margin-left: auto;
  }
}
