.product-hit {
  padding-top: 27px;
  padding-bottom: 40px;
}

.product-hit__title {
  margin-bottom: 5px;
}

.product-hit__subtitle {
  margin: 0;
  margin-bottom: 23px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $theme-color;
  text-transform: uppercase;
}

.product-hit__description {
  margin: 0;
  margin-bottom: 17px;
  font-size: 15px;
}

.product-hit__features {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 20px;
}

.product-hit__feature {
  border-bottom: 1px solid $border-color;
}

.product-hit__characteristic {
  padding: 10px;
  padding-left: 0;
}

.product-hit__value {
  padding: 10px;
}

.product-hit__image {
  margin-bottom: 22px;
}

.product-hit__price {
  display: block;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}

.product-hit__order {
  font-size: 17px;
}

@media (min-width: $tablet-width) {
  .product-hit {
    padding-top: 44px;
    padding-bottom: 52px;
  }

  .product-hit__container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .product-hit__description,
  .product-hit__features,
  .product-hit__price,
  .product-hit__order {
    width: calc(50% - 44px);
  }

  .product-hit__image {
    position: absolute;
    right: 50px;
    bottom: 0;
    margin: 0;
    width: calc(50% - 50px);
  }

  .product-hit__title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-left: -5px;
  }

  .product-hit__title {
    margin: 0;
  }

  .product-hit__subtitle {
    margin: 0;
    line-height: 17px;
    width: 124px;
    margin-left: auto;
    margin-top: 6px;
    text-align: center;
  }

  .product-hit__value {
    padding-left: 0;
  }

  .product-hit__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .product-hit__features {
    margin-bottom: 53px;
  }

  .product-hit__price {
    font-size: 20px;
    margin-bottom: 34px;
  }
}

@media (min-width: $desktop-width) {
  .product-hit {
    padding-top: 122px;
    padding-bottom: 73px;
  }

  .product-hit__title-wrapper {
    z-index: 2;
    margin-left: 20px;
  }

  .product-hit__title {
    margin-left: 28px;
  }

  .product-hit__subtitle {
    order: -1;
    margin: 0;
  }

  .product-hit__description,
  .product-hit__features,
  .product-hit__price,
  .product-hit__order {
    width: calc(50% - 233px);
    margin-left: 175px;
  }

  .product-hit__description {
    margin-bottom: 45px;
  }

  .product-hit__price {
    margin-bottom: 33px;
  }

  .product-hit__features {
    margin-bottom: 110px;
  }
}
