.reviews {
  padding-top: 25px;
  padding-bottom: 45px;
}

.reviews__title {
  margin-bottom: 25px;
}

.reviews__item {
  margin: 0;
  margin-bottom: 30px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author-name {
  font-size: 17px;
  font-weight: 700;
  color: $title-color;
  font-style: normal;
}

.reviews__author-account {
  line-height: 30px;
  font-weight: 400;
}

.reviews__toggles {
  display: flex;
  margin: 0;
  margin-bottom: 38px;
}

.reviews__toggle {
  width: 130px;
  height: 52px;
  padding: 0;
  border: 1px solid $border-color;
  background-color: $button-bg-color;
  cursor: pointer;

  &--next {
    margin-left: -1px;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 0;
    padding-bottom: 68px;
  }

  .reviews__container {
    width: 100%;
    max-width: 768px;
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #ffffff;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 15px;
  }

  .reviews__title {
    margin-bottom: 50px;
    max-width: 400px;
  }

  .reviews__item {
    margin: 0;
    order: 1;
  }

  .reviews__toggles {
    order: 2;
    margin-left: auto;
    margin-top: -53px;
  }

  .reviews__text {
    margin-bottom: 55px;
    font-size: 17px;
  }

  .reviews__write {
    width: 175px;
    margin-left: auto;
  }

  .reviews__author-name {
    display: block;
    width: 260px;
  }

  .reviews__toggle {
    width: 88px;
    border: none;
    background-color: black;
  }
}

@media (min-width: $desktop-width) {
  .reviews__container {
    max-width: 1080px;
    padding-right: 15px;
    padding-left: 190px;
    padding-top: 70px;
    padding-bottom: 44px;
  }

  .reviews__text {
    width: 780px;
    margin-bottom: 40px;
  }
}
