.site-nav__link {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 76px;
  padding-right: 20px;
  color: $title-color;
  width: 320px;
  margin: 0 auto;
}

.site-nav__item {
  border-top: 1px solid $border-color;
}

.site-nav__link[href]:hover {
  color: #8d8d8d;
}

.site-nav__link[href]:active {
  color: #cacaca;
}

@media (min-width: $tablet-width) {
  .site-nav {
    width: 50%;
    order: 1;
    z-index: 1;
    background-color: transparent;
    margin-bottom: -60px;
  }

  .site-nav__item {
    border-top: none;
  }

  .site-nav__link {
    font-size: 15px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 0;
    padding-right: 5px;
    width: 167px;
  }
}

@media (min-width: $desktop-width) {
  .site-nav {
    order: 0;
    margin: 0;
  }

  .site-nav__link {
    padding-left: 34px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 17px;

    &--catalog {
      padding-left: 0;
      border-right: 1px solid $border-color;
      width: 185px;
    }

    &--form {
      width: 200px;
    }
  }
}
