.social__list {
  @include ul-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social__link {
  display: block;
  fill: #231f20;

  &--instagram {
    height: 21.334px;
  }

  &--facebook {
    height: 27.718px;
  }

  &--twitter {
    height: 20.168px;
  }

  &:hover {
    fill: $footer-hover-fill;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    justify-content: flex-end;
  }
}
