.social__list {
  @include ul-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__link {
  position: relative;
  display: block;
}

.social__item {
  background-color: black;
  width: 22px;
  height: 22px;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    justify-content: flex-end;
  }
}
