.user-list__link {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 76px;
  padding-right: 20px;
  color: $title-color;
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.user-list__item {
  border-top: 1px solid $border-color;
}

.user-list__link[href]:hover {
  color: #8d8d8d;
}

.user-list__link[href]:active {
  color: #cacaca;
}

.user-list__icon {
  display: block;
  position: absolute;
  fill: #231f20;
  opacity: 0.2;

  &--search {
    top: 32px;
    left: 32px;
  }

  &--basket {
    left: 30px;
    top: 31px;
  }
}

.user-list__link[href] {
  &:hover .user-list__icon {
    opacity: 1;
    fill: $theme-color;
  }

  &:active .user-list__icon {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    margin-left: auto;
  }

  .user-list__link {
    border-left: 1px solid $border-color;
  }

  .user-list__icon {
    &--search {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--basket {
      top: 35px;
      left: 31px;
    }
  }

  .user-list__item {
    border-top: none;
  }

  .user-list__item--search {
    width: 84px;
    align-self: stretch;
  }

  .user-list__link--search {
    width: 100%;
    height: 100%;
    min-height: 88px;
    padding: 0;
    font-size: 0;
  }

  .user-list__link--basket {
    padding-left: 83px;
    padding-right: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 266px;
    min-height: 88px;
  }
}
