$text-color: #444444;
$title-color: #000000;
$theme-color: #63d1bb;
$button-border-color: #444444;
$button-bg-color: #ffffff;
$border-color: #ececec;
$bg-color: #f1f1f1;
$border-modal: #c6c6c6;
$form-border-color: #000000;
